<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera página</title>
    

    <link href="http://localhost/Proyecto_2025/assets/css/miestilo.css" rel="stylesheet" > 
</head>
<body>
    
    <div class="titulo">
        <h1>Bienvenidos a Taller de Programación</h1>
    </div>
    <div class="parrafo">

    <p>  Hoy es solo práctica de configuración</p>
    
    <h2> Ejemplo de div y span </h2> 
    <p> 
    Esto es un párrafo dentro de un div,  
    <span > y esto un span dentro de un 
    párrafo.</span> 
    </p> 
    </div> 
    <nav > 
        <ul class="menu"> 
            <li class="logo">
                <a href="https://www.google.com/">
                    <img src="http://localhost/Proyecto_2025/assets/img/cachorro-cobberdog-sobre-fondo-blanco.webp" alt="Logo" class="logo-img">
                </a>
            </li>
        <li><a href="https://www.google.com/">Inicio</a></li> 
        <li><a href="https://www.google.com/">Sobre nosotros</a></li> 
        <li><a href="https://www.google.com/">Contacto</a></li> 
        </ul>
    </nav> 
    <footer>

    </footer>
    
</body>

</html>